.categoryContainer {
    display: flex;
    flex-direction: column;
    color: #FFE1BF;
}

.properWidth {
    width: 90%;
}

.twoContainers {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    /*background-color: aqua;*/
}

.firstContainer {
    display: flex;
    flex-direction: column;
    width: 45%;

    /*background-color: green;*/
}

.secondContainer {
    display: flex;
    flex-direction: column;
    width: 45%;
    /*justify-content: center;*/
    align-items: center;

    /*background-color: red;*/
}

.textLook {
    display: flex;
    flex-direction: column;
    /*width: fit-content;*/
    /*width: 50%;*/
    transition: all 0.3s ease;
    background-color: #282c34;
    border-radius: 5px;
    /*margin-bottom: 10px;*/
    text-decoration: none;
    color: #FFE1BF;
    margin: 5px;
    padding: 5px;
    /*background-color: blue;*/
}

.textLook:hover {
    transform: scale(1.1);
    color: #E0A96D;
}

.movieImage {
    width: 65%;
    height: 90%;
}
