.categoryContainer {
    display: flex;
    flex-direction: column;
    color: #FFE1BF;
}

.properWidth {
    width: 90%;
}

.textPosition {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: #FFE1BF;
    width: 50%;


    /*background-color: red;*/
}

.textLook {
    display: flex;
    flex-direction: column;
    width: fit-content;
    transition: all 0.3s ease;

    /*background-color: blue;*/
}

.textLook:hover {
    transform: scale(1.1);
    color: #E0A96D;
}
