.categoriesContainer {
    display: flex;
    flex-direction: column;
    color: #FFE1BF;
}

.properWidth {
    width: 90%;
}

.categoriesRow {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.githubLogo {
    position: fixed;
    right: 15px;
    bottom: 15px;
}

.githubLogoW {
    width: 55px;
}
