.thumbnailImage {
    width: 210px;
    height: 145px;
    margin-right: 40px;
    margin-bottom: 50px;
    border-radius: 10px;
    transition: transform 0.3s ease-in-out;
}

.thumbnailImage:hover {
    transform: scale(1.1);
}

.backgroundColor {
    /*background-color: #E0A96D;*/
    background: rgb(224,169,109);
    background: linear-gradient(225deg, rgba(224,169,109,1) 50%, rgba(49,46,49,1) 100%);
    border-radius: 10px;
}

.categoryContainerTextColor {
    color: #FFE1BF;
}

.githubLogo {
    position: fixed;
    right: 15px;
    bottom: 15px;
}

.githubLogoW {
    width: 55px;
}
