.categoriesContainer {
    display: flex;
    flex-direction: column;
    color: #FFE1BF;
}

.properWidth {
    width: 90%;
}

.categoriesRow {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
