.moviesContainer {
    display: flex;
    flex-direction: row;
    /*background-color: orangered;*/

    justify-content: center;
}

.moviesRow {
    /*display: flex;*/
    /*flex-direction: row;*/
}

.movieItem {
    display: flex;
    flex-direction: column;
}

.thumbnailContainer {
    display: flex;
    flex-direction: row;

    margin-right: 50px;
    /*margin-bottom: 100px;*/
    margin-top: 100px;
}

.thumbnailImage {
    width: 200px;
    height: 300px;
    transition: transform 0.3s ease-in-out;

}

.thumbnailImage:hover {
    transform: scale(1.1);
}

.hoveredInfoBlock {
    position: relative;
    margin-left: -10px;
    width: 220px;
    height: 220px;
    margin-top: 15px;
    padding: 10px;
    border-radius: 0px 0px 10px 10px;
    background-color: #312E31;
}
