.form-control {
    width: 700px;
    height: 40px;
    background-color: rgba(49, 46, 49, 0.5);
    color: #E0A96D;
    border-color: #E0A96D;
}

.form-control:focus {
    background-color: #312E31;
    color: #E0A96D;
    border-color: #E0A96D;
}

.form-control::placeholder {
    color: #E0A96D;
}

.navbar {
    height: 55px;
}
.navbar-collapse {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 3px;
}

.btn-color {
    color: #E0A96D;
    border-color: #E0A96D;
    border-width: 2px;
}

.btn-color:hover {
    background-color: #E0A96D;
    border-color: #E0A96D;
    color: #312E31;
}

.btn-size {
    width: 40px;
    padding-left: 3px;
    padding-top: 3px;
}

.btn-size-home {
    margin-left: -100px;
    margin-top: 20px;
}

body {
    background-color: #201E20;
    color: white;
}
.text-color {
    /*background-color: #312E31;*/
    background-color: rgba(49, 46, 49, 0.5);
}

.img-position {
    margin-top: 20px;
}

.navbar-position{
    margin-top: -120px;
    z-index: 1000;
}

.home-nav {
    margin-bottom: 60vh;
}

.footer-style{
    font-size: 9px;
}

.thumbnail-image {
    width: 210px;
    height: 145px;
    margin-right: 40px;
    margin-bottom: 50px;
    transition: transform 0.3s ease-in-out;
}

.thumbnail-image:hover {
    transform: scale(1.1);
}

.thumbnail-container {
    position: relative;
}

.thumbnail-info {
    position: absolute;
    height: 150px;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #312E31;
    padding: 10px;
    margin-left: -10px;
    margin-right: 30px;
    margin-bottom: -60px;
    display: none;
    color: white;
}

.thumbnail-container:hover .thumbnail-info {
    display: block;
}

.button-margin {
    margin-right: 75px;
    margin-bottom: 10px;
}

.margin-right {
    margin-right: 20px;
}

.margin-bottom {
    margin-bottom: 25px;
}

.rate-image {
    position: absolute;
    width: 45px;
    left: 170px;
    bottom: 15px;
}

.details-not-founds {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
}

.details-not-found {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
}

.details-rate-image {
    width: 65px;
}

.details-position {
    display: flex;
    flex-direction: column;
    /*justify-content: start;*/
    margin-top: 10px;
    /*width: 70vw;*/
}

.details-logo-position {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.details-split {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}

.details-names {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.details-right-items {
    display: flex;
    flex-direction: row;
    margin-left: auto;
}

.details-type-rate {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /*background-color: red;*/
    margin-right: 5px;
}

.details-rate-icon {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.details-details {
    display: flex;
    /*flex-direction: row;*/
    align-items: center;
}

.details-image {
    width: 50vw;
}

.details-p{
    margin-left: 30px;
}
