.statisticsContainer {
    display: flex;
    flex-direction: column;
    color: #FFE1BF;
}

.properWidth {
    width: 90%;
}
.orderedList {
    list-style-type: none;
    padding: 0;
}

.listElements {
    display: flex;
    flex-direction: row;
    width: 450px;
    justify-content: space-between;
    position: relative;
    text-decoration: none;
    color: #FFE1BF;
    transition: all 0.3s ease;

}

.listElements:hover {
    transform: scale(1.05);
    color: #E0A96D;
}

.listElementOne {
    display: flex;
    flex-direction: row;
    position: relative;
}

.listElementTwo {
    display: flex;
    flex-direction: row;
    position: relative;
}

.listElementOne::before {
    content: "························································································································";
    position: absolute;
    color: #312E31;
    top: 50%;
    /*left: 100%;*/
    transform: translateY(-50%);
    white-space: nowrap;
    overflow: hidden;
    z-index: -1;
}

.background {
    background-color: #201e20;
    padding: 0 8px;

}

.titleContainers {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    /*background-color: red;*/
}

.titleContainer {
    display: flex;
    flex-direction: column;
    width: 45%;
    align-items: center;

    /*background-color: blue;*/
}

.fullSize {
    width: 90%;

    /*background-color: green;*/
}
