.form-control {
    width: 500px;
    height: 40px;
    background-color: #312E31;
    color: #E0A96D;
    border-color: #E0A96D;
}

.form-control:focus {
    background-color: #312E31;
    color: #E0A96D;
    border-color: #E0A96D;
}

.form-control::placeholder {
    color: #E0A96D;
}

.navbar {
    height: 55px;
}
.navbar-collapse {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 3px;
}

.btn-color {
    color: #E0A96D;
    border-color: #E0A96D;
    border-width: 2px;
}

.btn-color:hover {
    background-color: #E0A96D;
    border-color: #E0A96D;
    color: #312E31;
}

.btn-size {
    width: 40px;
    padding-left: 3px;
    padding-top: 3px;
}

body {
    background-color: #201E20;
    color: white;
}
.text-color {
    background-color: #312E31;
}

