.addContainer {
    display: flex;
    flex-direction: column;
    color: #FFE1BF;
    width: 90%;
}

.mainImage {
    /*width: 500px;*/
    /*height: 750px;*/
    width: 23vw;
    height: 70vh;
}

.itemsContainer {
    display: flex;
    flex-direction: row;

    /*background-color: red;*/
}

.imageContainer {
    display: flex;
    flex-direction: row;
}

.descriptionContainer {
    display: flex;
    flex-direction: row;
}

.contentPlace {
    display: flex;
    flex-direction: row;
    padding-left: 50px;
    padding-top: 10px;
}

.marginBottom {
    display: flex;
    align-items: center;

    /*background-color: red;*/
}

.displayColumn {
    display: flex;
    flex-direction: column;
    margin-right: 50px;

    /*background-color: blue;*/
}

.ratingImage {
    width: 75px;
    position: absolute;
}

.marginThat {
    display: flex;
    flex-direction: column;
    background-color: green;
    margin-top: -90px;
}
