.addContainer {
    display: flex;
    flex-direction: column;
    color: #FFE1BF;
}

.mainImage {
    width: 60%;
    /*height: 750px;*/
}

.itemsContainer {
    display: flex;
    flex-direction: row;
}

.contentPlace {
    display: flex;
    flex-direction: row;
    padding: 50px;
}

.marginBottom {
    display: flex;
    align-items: center;

    /*background-color: red;*/
}

.displayColumn {
    display: flex;
    flex-direction: column;
    margin-right: 50px;

    /*background-color: blue;*/
}

.ratingImage {
    width: 75px;
    position: absolute;
}

.marginThat {
    display: flex;
    flex-direction: column;
    background-color: green;
    margin-top: -90px;
}
